.form {
  @include e('control') {
    margin: 0 0 20px 0;
    position: relative;
    @include m('error') {
      .form__input {
        &::after {
          background: $red-orange-gradient;
        }
      }
      .form__label {
        color: $red;
      }
      .form__input__input {
        color: $red;
      }
    }
    @include e('errors') {
      margin-top: 10px;
      li {
        font-size: 12px;
        font-style: italic;
      }
    }
  }
  @include e('label') {
    display: block;
    font-size: 16px;
    opacity: 0.7;
    margin: 0 0 5px 0;
    @include e('text') {
      display: inline-block;
      margin-left: 10px;
    }
    @include m('checkbox') {
      display: flex;
      align-items: center;
    }
    @include m('radio') {
      display: flex;
      align-items: center;
    }
  }
  @include e('buttons') {}
}

.input-and-calendar {
  position: relative;
  .react-calendar {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    width: 100%;
    * {
      font-family: $base-font;
      font-size: 14px;
    }
    .react-calendar__navigation__label {
      font-weight: $bold-weight;
    }
  }
}
