.form {
  @include e('control') {
    margin: 0 0 20px 0;
    position: relative;
    @include m('error') {
      .form__input {
        &::after {
          background: $red-orange-gradient;
        }
      }
      .form__label {
        color: $red;
      }
      .form__input__input {
        color: $red;
      }
    }
    @include e('errors') {
      margin-top: 10px;
      li {
        font-size: 12px;
        font-style: italic;
      }
    }
  }
  @include e('label') {
    display: block;
    font-size: 16px;
    margin: 0 0 5px 0;
    @include e('text') {
      display: inline-block;
      margin-left: 10px;
    }
    @include m('checkbox') {
      display: flex;
      align-items: center;
    }
    @include m('radio') {
      display: flex;
      align-items: center;
    }
    @include m('small') {
      font-size: 14px;
    }
  }
  @include e('buttons') {}
}

.input-and-calendar {
  .calendar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($dark-blue, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0;
    animation: openOverlayCalendar 200ms forwards;
  }
  .react-calendar {
    @include smoothShadow();
    border: 0;
    border-radius: 5px;
    padding: 10px;
    transform: scale(0.95);
    opacity: 0;
    animation: openCalendar 300ms forwards;
    background: darken($dark-blue, 7%);
    * {
      font-family: $base-font;
      font-size: 14px;
      color: white;
    }
    .react-calendar__navigation__label {
      font-weight: $bold-weight;
    }
    .react-calendar__navigation button,
    .react-calendar__tile {
      transition: $transition;
      border-radius: 2px;
    }
    .react-calendar__navigation button:enabled:hover,
    .react-calendar__navigation button:enabled:focus,
    .react-calendar__tile:enabled:hover,
    .react-calendar__tile:enabled:focus {
      background: darken($dark-blue, 30%);
    }
  }
}

@keyframes openOverlayCalendar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openCalendar {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
