.icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  fill: currentColor;
  @include m('small') {
    width: 14px;
    height: 14px;
  }
  @include m('large') {
    width: 48px;
    height: 48px;
  }
  @include m('primary') {
    fill: $purple;
  }
  @include m('danger') {
    fill: $darkRed;
  }
  @include m('warning') {
    fill: $orange;
  }
  @include m('info') {
    fill: $light-blue;
  }
  @include m('success') {
    fill: $green;
  }
  span {
    display: flex;
    flex-grow: 1;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
