@mixin inputIntent ($color) {
  &::after {
    background: $color;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    pointer-events: none;
  }
}

.input-wrapper {
  position: relative;
  @include inputIntent($blue-pink-gradient);
  @include e('input') {
    border: 0;
    width: 100%;
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    color: white;
    font-size: 16px;
    line-height: 1;
    height: 40px;
  }
  @include m('small') {
    .input-wrapper__input {
      font-size: 12px;
      height: 30px;
    }
  }
  @include m('large') {
    .input-wrapper__input {
      font-size: 22px;
      height: 50px;
    }
  }
  @include m('primary') {
    @include inputIntent($primary);
  }
  @include m('success') {
    @include inputIntent($success);
  }
  @include m('danger') {
    @include inputIntent($danger);
  }
  @include m('warning') {
    @include inputIntent($warning);
  }
  @include m('info') {
    @include inputIntent($info);
  }
}
