.account-links {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline;
    &::after {
      content: "|";
      display: inline-block;
      margin: 0 5px;
      opacity: 0.2
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    a {

    }
  }
}

.login-page {
  display: flex;
  height: calc(100vh - 70px);
  justify-content: space-between;
  flex-direction: column;
  padding: 0 $small-gutter $small-gutter $small-gutter;
  .account-links {
    align-self: center;
    @include tabletUp {
      align-self: end;
    }
  }
}

.login {
  min-width: 300px;
  align-self: center;
  padding: 0 $small-gutter;
}
