.account-links {
  margin: 0;
  padding: 0 0 $small-gutter 0;
  list-style: none;
  li {
    display: inline;
    &::after {
      content: "|";
      display: inline-block;
      margin: 0 5px;
      opacity: 0.2
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    a {
      text-decoration: none;
      padding: 1px 5px;
      position: relative;
      &::after {
        transition: $transition;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0%;
        border-radius: 2px;
      }
      &:hover {
        &::after {
          height: 100%;
          background: rgba(white, 0.1);
        }
      }
    }
  }
}

.login-page {
  display: flex;
  height: calc(100vh - 70px);
  justify-content: space-between;
  flex-direction: column;
  padding: 0 $small-gutter;
  .account-links {
    align-self: center;
    @include tabletUp {
      align-self: end;
    }
  }
}

.login {
  min-width: 300px;
  align-self: center;
  padding: $small-gutter;
}
