.account-links {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline;
    &::after {
      content: "|";
      display: inline-block;
      margin: 0 5px;
      opacity: 0.2
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    a {

    }
  }
}
