.logo {
  display: inline-flex;
  @include e('image') {
    margin-right: 10px;
    img {
      width: 30px;
    }
  }
  @include e('text') {
    font-size: 20px;
    font-weight: $regular-weight;
    text-transform: lowercase;
  }
}
