.new-asset {
  text-align: left;
  @include e('steps') {
    position: relative;
    &::after {
      content: "";
      border-right: 2px solid;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 14px;
      bottom: 0;
      pointer-events: none;
    }
    @include e('step') {
      margin: 0 0 10px 0;
      @include e('title') {
        display: flex;
        align-items: center;
        @include e('number') {
          background: $dark-blue;
          border-radius: 15px;
          width: 30px;
          height: 30px;
          border: 2px solid;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
        }
        @include e('text') {
          text-transform: uppercase;
          font-size: 13px;
        }
      }
      @include e('content') {
        padding-left: 50px;
        display: none;
        margin: 20px 0 20px 0;
        @include e('brokers') {
          .form__control {
            margin: 0 0 10px 0;
          }
        }
        @include e('actions') {
          display: flex;
          justify-content: space-between;
        }
      }
      @include m('active') {
        .new-asset__steps__step__content {
          display: block;
        }
      }
    }
  }
}
