@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin loader ($color: white) {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: rotateLoader 500ms linear infinite;
  border: 1px solid rgba($color, 1);
  border-bottom-color: rgba($color, 0);
}

@keyframes rotateLoader {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(359deg)
  }
}

@mixin tabletUp {
  @media (min-width: 768px) {
    @content;
  }
}
