* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: $blue;
  color: $white;
  font-family: $base-font;
  font-weight: $regular-weight;
}

a {
  color: white;
}

.page-title {
  color: $orange;
  font-weight: $bold-weight;
  font-size: 40px;
  margin: 0 0 30px 0;
  @include tabletUp {
  }
}
