// colors

$dark-blue: #3A4155;
$blue: #4A526A;
$light-blue: #6AB8F1;
$green: #62AA99;
$white: white;
$dark-gray: #444;
$gray: #E2E2E2;
$orange: #FFAC4B;
$dark-orange: #F57C00;
$dark-red: #D32F2F;
$red: #E58B8B;
$purple: #755CB9;
$white-70: rgba(white, 0.7);
$white-30: rgba(white, 0.3);

// gradients

$blue-gradient: linear-gradient(180deg, #6BBDF9, #6AA5D0);
$blue-pink-gradient: linear-gradient(90deg, #77C3F7, #ECC5FD);
$red-orange-gradient: linear-gradient(90deg, $dark-red, $dark-orange);
$dark-blue-gradient: linear-gradient(10deg, darken($dark-blue, 15%), $dark-blue);

// fonts

$base-font: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// font weights

$extra-light-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;

// sizes

$header-height: 70px;

// grid

$small-gutter: 20px;

// transitions

$transition: all 200ms;

// intents

$primary: $purple;
$danger: $red;
$warning: $orange;
$success: $green;
$info: $light-blue;
