// colors

$dark-blue: #3A4155;
$blue: #4A526A;
$light-blue: #6AB8F1;
$green: #62AA99;
$white: white;
$gray: #E2E2E2;
$orange: #FFAC4B;
$red: #E58B8B;
$purple: #755CB9;

// gradients

$blue-gradient: linear-gradient(90deg, #6BBDF9, #6AA5D0);
$blue-pink-gradient: linear-gradient(90deg, #77C3F7, #ECC5FD);

// fonts

$base-font: 'PT Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// font weights

$weight-regular: regular;
$weight-bold: bold;
