// colors

$dark-blue: #3A4155;
$blue: #4A526A;
$light-blue: #6AB8F1;
$green: #62AA99;
$white: white;
$gray: #E2E2E2;
$orange: #FFAC4B;
$darkOrange: #F57C00;
$darkRed: #D32F2F;
$red: #E58B8B;
$purple: #755CB9;

// gradients

$blue-gradient: linear-gradient(180deg, #6BBDF9, #6AA5D0);
$blue-pink-gradient: linear-gradient(90deg, #77C3F7, #ECC5FD);
$red-orange-gradient: linear-gradient(90deg, $darkRed, $darkOrange);

// fonts

$base-font: 'PT Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$regular-weight: 400;
$bold-weight: 700;

// font weights

$weight-regular: regular;
$weight-bold: bold;

// sizes

$header-height: 70px;

// grid

$small-gutter: 20px;

// transitions

$transition: all 200ms;
